@charset "UTF-8";
.pagination-centered {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    list-style: none;
    padding: 0;
}

.pagination-centered li {
    display: inline-block;
    margin: 0 5px; /* 버튼 간격 */
}

.pagination-centered a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pagination-centered a:hover {
    background-color: #007bff;
    color: white;
}
